@using FlightManager.HelperClasses
@model PaginatedList<FlightManager.Data.Models.User>

@{
    ViewData["Title"] = "User index";
}

<h1>Всички потребители</h1>

<p>
    <a asp-action="Create">Създаване на нов</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            Търсене по e-mail: <input type="text" name="EmailSearch" value="@ViewData["EmailSearch"]" class="form-control w-25" />
            Име: <input type="text" name="FirstNameSearch" value="@ViewData["FirstNameSearch"]" class="form-control w-25" />
            Фамилия: <input type="text" name="LastNameSearch" value="@ViewData["LastNameSearch"]" class="form-control w-25" />
            <input type="submit" value="Търсене" class="btn btn-primary" />
            <a asp-action="Index">Изчистване</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                Име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                ЕГН
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Промяна</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Предишна
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Следваща
</a>