@using FlightManager.Data.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

@model FlightsManager.Data.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Полет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            От
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            До
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            Дата/час на излитане
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDateTime)
        </dd>
        <dt class="col-sm-2">
            Продължителност на полет
        </dt>
        <dd class="col-sm-10">
            @(Model.ArrivalDateTime - Model.DepartureDateTime)
        </dd>
        <dt class="col-sm-2">
            Тип самолет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class="col-sm-2">
            Номер на полет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            Име на пилот
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class="col-sm-2">
            Обикновени места
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            Бизнес места
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessCapacity)
        </dd>
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
        {
            <dt class="col-sm-2">
                Резервации
            </dt>
            <dd class="col-sm-10">
                <hr class="mb-0" />
                <div>
                    <ul class="list-group list-group-flush ">
                        @foreach (var (reservation, index) in Model.Reservations.Select((value, i) => (value, i)))
                        {
                            <li class="list-group-item">@(index + 1).  <a asp-action="Details" asp-controller="Reservations" asp-route-id="@reservation.Id">@reservation.Email</a>, потвърдена: @reservation.IsConfirmed, пътници: @reservation.Passengers.Count()</li>
                        }
                    </ul>
                </div>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Промяна</a> |
    <a asp-action="Index">Списък с всички полети</a>
</div>
