@using FlightManager.HelperClasses
@model PaginatedList<FlightsManager.Data.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            Търсене по дестинация до: <input type="text" name="ToSearch" value="@ViewData["ToSearch"]" class="form-control w-25" />
            От: <input type="text" name="FromSearch" value="@ViewData["FromSearch"]" class="form-control w-25" />
            <input type="submit" value="Търсене" class="btn btn-primary" />
            <a asp-action="Index">Изчистване</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ArrivalDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AircraftType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PassengerCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().BusinessCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AircraftType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PilotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessCapacity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
