@using FlightManager.HelperClasses
@using FlightManager.Data.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

@model PaginatedList<FlightsManager.Data.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Всички полети</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добавяне на нов</a>
    </p>
}

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            Търсене по дестинация до: <input type="text" name="ToSearch" value="@ViewData["ToSearch"]" class="form-control w-25" />
            От: <input type="text" name="FromSearch" value="@ViewData["FromSearch"]" class="form-control w-25" />
            <input type="submit" value="Търсене" class="btn btn-primary" />
            <a asp-action="Index">Изчистване</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                От
            </th>
            <th>
                До
            </th>
            <th>
                Дата/час на излитане
            </th>
            <th>
                Дата/час на кацане
            </th>
            <th>
                Тип самолет
            </th>
            <th>
                Номер на полет
            </th>
            <th>
                Име на пилот
            </th>
            <th>
                Обикновени места
            </th>
            <th>
                Бизнес места
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AircraftType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PilotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessCapacity)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        @("|")
                        <a asp-action="Edit" asp-route-id="@item.Id">Промяна</a>
                        @("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Предишна
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Следваща
</a>
